@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/profielfoto.png">
        <h1 class="person-name">Elnathan Pauwels</h1>

    </section>

    <section class="profile">

        <section class="profile-content">

            <!-- Profiel -->

            <div>
                <hr>
                <h3 class="profile-content__category-title">Profiel</h3>
            </div>

            <div>
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Als Software Engineer ben ik bekwaam in het analyseren, ontwerpen en realiseren van data en software.
                <p>
            </div>


            <div class="profile-content__category">
                <hr>
                <h3 class="profile-content__category-title">Opleidingen</h3>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HBO-ICT</h4>
                    <p class="profile-content__period">september 2023 - heden</p>
                </div>
                <p class="profile-content__institute">Windesheim University of Applied Sciences, Zwolle</p>
            </div>

            <!-- Werkervaring -->

            <div class="profile-content__category">
                <hr>
                <h3 class="profile-content__category-title">Werkervaring</h3>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Promotieteam</h4>
                    <p class="profile-content__period">Okt 2023 - Heden</p>
                </div>
                <p class="profile-content__institute">Windesheim University of Applied Sciences, Zwolle</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Senior Attractiemedewerker</h4>
                    <p class="profile-content__period">Jul 2023 - Jan 2024</p>
                </div>
                <p class="profile-content__institute">Attractiepark Slagharen, Slagharen</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Kassa- en verkoopmedewerker</h4>
                    <p class="profile-content__period">Nov 2022 - Jan 2023</p>
                </div>
                <p class="profile-content__institute">PLUS, Hollandscheveld</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Kassa- en verkoopmedewerker</h4>
                    <p class="profile-content__period">Mar 2021 - Nov 2022</p>
                </div>
                <p class="profile-content__institute">Coop, Hollandscheveld</p>
            </div>

            <!-- Skills -->

            <div class="profile-content__category">
                <hr>
                <h3 class="profile-content__category-title">Skills</h3>
                            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Communicatie</h4>
                </div>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Engels</h4>
                </div>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">C#</h4>
                </div>
            </div>

        </section>
    </section>
</div>
